.project-description__main {
  max-width: 110ch;
  margin: 0 auto;
}

.project-description__img-container {
  width: 50%;
  margin: 0 auto;
}

.project-description__img {
  width: 100%;
  margin: 1rem 0rem;
}

@media only screen and (max-width: 780px) {
  .project-description__img-container {
    width: 80%;
  }
}

@media only screen and (max-width: 430px) {
  .project-description__img-container {
    width: 98%;
  }

  .project-description__img {
    margin: 0;
  }
}
