/* 

  General Styles

*/

:root {
  --font-primary: "Oxanium", sans-serif;
  --font-primary-light: 300;
  --font-secondary: "Rubik", sans-serif;
  --color-accent: #f1ff74;
}

::selection {
  background: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: repeating-linear-gradient(#101010, #111, #101010 1000px);
  color: white;
  font-family: var(--font-secondary);
}

h1 {
  font-family: var(
    --font-secondary
  ); /* var(--font-primary);
  font-weight: var(--font-primary-light); */
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

h1:first-of-type {
  padding-top: 6rem;
}

h2 {
  font-family: var(--font-primary);
  font-weight: var(--font-primary-light);
  margin-bottom: 1rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-accent);
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 1rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in;
}

.btn:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

/* 

  Navigation Styles

*/
.nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  mix-blend-mode: difference;
}

.nav-barrier {
  display: block;
  width: 100%;
  height: 5rem;
}

.logo {
  margin-left: 6rem;
  padding-right: 2rem;
  font-family: var(--font-secondary);
  font-weight: 900;
  font-size: 1.5rem;
}

.logo a:hover {
  text-decoration: none;
}

.nav__list {
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

@media only screen and (max-width: 952px) {
  html {
    font-size: 14px;
  }
  .logo {
    margin: 0;
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
